In [3]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

             title  year
0        Dear Ella  2014
1         Yolcular  1979
2  Prairie Express  1947
3   Suden arvoitus  2006
4     We Got Lucky  2015

In [6]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [16]:
len(titles)

213549

### What are the earliest two films listed in the titles dataframe?

In [77]:
titles.sort('year').head(2)

                                                    title  year
122987                                         Miss Jerry  1894
40722   Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [20]:
len(titles[titles.title == "Hamlet"])

19

### How many movies are titled "North by Northwest"?

In [21]:
len(titles[titles.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [26]:
titles[titles.title == "Hamlet"].sort('year')[0:1]

       title  year
4401  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [27]:
titles[titles.title == "Treasure Island"].sort('year')

                  title  year
138092  Treasure Island  1918
62883   Treasure Island  1920
164180  Treasure Island  1934
129441  Treasure Island  1950
18651   Treasure Island  1972
9044    Treasure Island  1973
206924  Treasure Island  1985
169048  Treasure Island  1999

### How many movies were made in the year 1950?

In [30]:
len(titles[titles.year == 1950])

1033

### How many movies were made in the year 1960?

In [31]:
len(titles[titles.year == 1960])

1424

### How many movies were made from 1950 through 1959?

In [34]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12085

### In what years has a movie titled "Batman" been released?

In [35]:
titles.year[titles.title == "Batman"]

56850     1943
107738    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [38]:
len(cast[cast.title == "Inception"])

72

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [39]:
len(cast[(cast.title == "Inception") & (cast.n.isnull())])

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [45]:
len(cast[(cast.title == "Inception") & (cast.n >= 0)])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [48]:
cast[(cast.title == "North by Northwest") & (cast.n >= 0)].sort('n')

,title,year,name,type,character,n
770638,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3072773,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1288094,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2765913,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
314108,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2675048,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1499446,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1126581,North by Northwest,1959,Martin Landau,actor,Leonard,8
2159696,North by Northwest,1959,Adam Williams,actor,Valerian,9
1601306,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
588469,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2025964,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
409685,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1334312,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
180234,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1223901,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [52]:
cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort('n')

,title,year,name,type,character,n
1508208,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
287381,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
329463,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1295361,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2397757,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1280765,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [53]:
cast[(cast.title == "Sleuth") & (cast.year == 2007)].sort('n')

          title  year                 name     type          character   n
287382   Sleuth  2007        Michael Caine    actor             Andrew   1
1142985  Sleuth  2007             Jude Law    actor               Milo   2
1596561  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
227842   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
329464   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2397756  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
2947540  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [55]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [58]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1996)])

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [59]:
len(cast[cast.title == "Hamlet"])

299

### How many people have played an "Ophelia"?

In [63]:
len(cast[cast.character == "Ophelia"].sort('name'))

96

### How many people have played a role called "The Dude"?

In [64]:
len(cast[cast.character == "The Dude"])

16

### How many people have played a role called "The Stranger"?

In [65]:
len(cast[cast.character == "The Stranger"])

190

### How many roles has Sidney Poitier played throughout his career?

In [66]:
len(cast[cast.name == "Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [67]:
len(cast[cast.name == "Judi Dench"])

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [69]:
cast[(cast.name == "Cary Grant") & (cast.year <= 1949) & (cast.year >= 1940 ) & (cast.n == 2)].sort('year')

                   title  year        name   type    character  n
770635  My Favorite Wife  1940  Cary Grant  actor         Nick  2
770645    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [70]:
cast[(cast.name == "Cary Grant") & (cast.year <= 1949) & (cast.year >= 1940 ) & (cast.n == 1)].sort('year')

,title,year,name,type,character,n
770660,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
770617,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
770662,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
770650,Suspicion,1941,Cary Grant,actor,Johnnie,1
770664,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
770641,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
770608,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
770633,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
770634,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
770642,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
770600,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
770637,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
770636,Night and Day,1946,Cary Grant,actor,Cole Porter,1
770639,Notorious,1946,Cary Grant,actor,Devlin,1
770656,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1
770657,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
770632,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
770612,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
770621,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [72]:
len(cast[(cast.year >= 1950) & (cast.year <= 1959) & (cast['type'] == 'actor')])

147583

### How many roles were avilable for actresses in the 1950s?

In [73]:
len(cast[(cast.year >= 1950) & (cast.year <= 1959) & (cast['type'] == 'actress')])

53859

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [74]:
len(cast[(cast.year <= 1980) & (cast.n == 1)])

61346

### How many non-leading roles were available through from the beginning of film history through 1980?

In [75]:
len(cast[(cast.year <= 1980) & (cast.n != 1)])

1045558

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [76]:
len(cast[(cast.year <= 1980) & (cast.n.isnull())])

414081

In [15]:
h = titles.head()

In [22]:
h

             title  year
0        Dear Ella  2014
1         Yolcular  1979
2  Prairie Express  1947
3   Suden arvoitus  2006
4     We Got Lucky  2015

In [23]:
h[(h.year < 1980) | (h.year >= 1990)]

             title  year
0        Dear Ella  2014
1         Yolcular  1979
2  Prairie Express  1947
3   Suden arvoitus  2006
4     We Got Lucky  2015

In [7]:
t = titles
t[t.title == 'Macbeth'].sort('year').tail()

          title  year
73976   Macbeth  2009
97783   Macbeth  2013
33768   Macbeth  2014
118630  Macbeth  2015
177205  Macbeth  2016

In [15]:
h = cast.head()
h = h[h.n.notnull()]
h

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3